ul.SK_Payment_Methods {
  list-style-position: inside;
  list-style-type: none;
}

.SK_Payment_Methods {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.SK_Payment_Methods svg {
  width: 38px;
  height: auto;
}

/* CART */
.da_cart__kundenzahl {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  font-size: 13px;
  color: #fff;
  text-align: center;
}
.da_trustbadge {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  line-height: 26px;
  background-color: #f2fdf2;
  color: #007600;
  font-size: 15px;
}

.da_trustbadge b {
  font-weight: 600;
  color: #007600;
  margin-right: 8px;
}
.Drawer__Footer .da_cart__shippingcosts {
  display: flex;
  justify-content: space-between;
}

.da_cart__shippingcosts .Cart__Taxes {
  margin-bottom: 0px;
}
.da_payment_icons {
  display: flex;
  justify-content: space-between;
  margin: 0 -8px;
  padding-top: 12px;
  margin-bottom: -12px;
}
.Drawer__Footer .da_payment_icons {
  display: flex;
  justify-content: space-between;
  margin: 0 -8px;
  padding-top: 12px;
  margin-bottom: -12px;
}

/* Discount */
.sk-savings {
  font-weight: 600;
  color: #008000;
  margin-left: 25px;
}
