ul.SK_Payment_Methods {
  list-style-position: inside;
  list-style-type: none;
}

.SK_Payment_Methods {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.SK_Payment_Methods svg {
  width: 38px;
  height: auto;
}
