ul.SK_Payment_Methods {
  list-style-position: inside;
  list-style-type: none;
}

.SK_Payment_Methods {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.SK_Payment_Methods svg {
  width: 38px;
  height: auto;
}

.da_cart__kundenzahl {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  font-size: 13px;
  color: #fff;
  text-align: center;
}
.da_trustbadge {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  line-height: 26px;
  background-color: #f2fdf2;
  color: #007600;
  font-size: 15px;
}

.da_trustbadge b {
  font-weight: 600;
  color: #007600;
  margin-right: 8px;
}
